BeetleX.Samples.WebFamily.Northwind/BeetleX.Samples.WebFamily.Northwind/bin/Debug/net5.0/beetlex.js
BeetleX.Samples.WebFamily.Northwind/BeetleX.Samples.WebFamily.Northwind/bin/
BeetleX.Samples.WebFamily.Northwind/BeetleX.Samples.WebFamily.Northwind/obj/
BeetleX.Samples.WebFamily.Northwind/NorthwindEFCore/bin/
BeetleX.Samples.WebFamily.Northwind/NorthwindEFCore/obj/
BeetleX.WebFamily.BasicInformation/BeetleX.WebFamily.BasicInformation.App/.vs/BeetleX.WebFamily.BasicInformation.App/v16/TestStore/0/testlog.manifest
BeetleX.WebFamily.BasicInformation/BeetleX.WebFamily.BasicInformation.App/bin/
BeetleX.WebFamily.BasicInformation/BeetleX.WebFamily.BasicInformation.App/.vs/BeetleX.WebFamily.BasicInformation.App/v16/
BeetleX.WebFamily.BasicInformation/BeetleX.WebFamily.BasicInformation.App/obj/
BeetleX.WebFamily.BasicInformation/BeetleX.WebFamily.BasicInformation.App/Properties/
BeetleX.WebFamily.BasicInformation/BeetleX.WebFamily.BasicInformation/bin/
BeetleX.WebFamily.BasicInformation/BeetleX.WebFamily.BasicInformation.App/.vs/
BeetleX.WebFamily.BasicInformation/BeetleX.WebFamily.BasicInformation/obj/
BeetleX.Samples.WebFamily.Northwind/NorthwindEFCore/Properties/
BeetleX.WebFamily.BasicInformation/.vs/BeetleX.WebFamily.BasicInformation.App/v16/
