::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    margin-top: -10px;
    border-right-color: rgba(0, 0, 0, 0.00);
    border-right-width: 4px;
    border-right-style: solid;
    background-color: #fff;
    padding: 2px;
}


::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #8d8d8d;
    border-right-color: rgba(0, 0, 0, 0.00);
    border-right-width: 4px;
    border-right-style: solid;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.00);
    border-right-color: rgba(0, 0, 0, 0.00);
    border-right-width: 4px;
    border-right-style: solid;
    padding: 1px;
}

#app {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.header_min {
    position: absolute;
    left: 260px;
    right: 10px;
    height: 40px;
    transition: left 0.8s;
}

.header_max {
    position: absolute;
    left: 80px;
    right: 10px;
    height: 40px;
    transition: left 0.8s;
}

.context_min {
    position: absolute;
    left: 260px;
    right: 0px;
    top: 50px;
    bottom: 0px;
    transition: left 0.8s;
}

.context_max {
    position: absolute;
    left: 80px;
    right: 0px;
    top: 50px;
    bottom: 0px;
    transition: left 0.8s;
}
.el-tabs__item.is-active
{

}
.el-tabs__active-bar
{
    background-color:#c9f5f6;
}
.win-tabs > .el-tabs__content {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 10px;
    top: 40px;
    overflow-y: auto;
    padding:15px;
}
.el-tabs__item {
    height: 34px;
    line-height: 34px;
}
.el-dialog {

    border-radius:4px;
}
.el-dialog__header {
    text-align: left;
    padding: 5px 10px;
    background-color: rgba(3, 123, 128, 0.86);
   
}
.el-dialog__title {
    font-size: 12pt;
    color: #fff;
}
.login-modal > .el-dialog
{
    

}
    .login-modal > .el-dialog > .el-dialog__header {
       background-color:transparent;
    }

.default-home a {
    text-decoration: none;
    color: #02b5a4;
}

    .default-home a:hover {
        text-decoration: none;
        color: #02b5a4;
        text-shadow: 1px 1px 3px #808080;
    }
.menu-resize-btn {
    position: absolute;
    font-size: 16pt;
    color: #fff;
    bottom: 4px;
    right: 0px;
}

    .menu-resize-btn a {
        cursor: pointer;
        padding: 4px;
    }

        .menu-resize-btn a:hover {
            background-color: rgba(255, 255, 255, 0.50);
            transition: all 1s;
        }

.menu-resize-min-btn {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(220, 220, 220, 0.41);
}

    .menu-resize-min-btn a {
        padding: 5px 20px;
        color: #fff;
        font-size: 18pt;
        cursor: pointer;
    }

        .menu-resize-min-btn a:hover {
            background-color: rgba(255, 255, 255, 0.50);
            transition: all 1s;
        }

.menu-panel-header {
    height: 100px;
    width: 100%;
    position: relative;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(220, 220, 220, 0.41);
}

.web-logo {
    position: absolute;
    margin-top: -65px;
}

.web-title {
    color: #fff;
    position: absolute;
    font-size: 12pt;
    font-weight: bold;
    bottom: 8px;
    left: 20px;
    text-shadow: 1px 1px 1px #808080;
}

.menu-bar {
    padding-top: 10px;
}

    .menu-bar img {
        width: 20px;
        padding: 2px;
        padding-right: 6px;
        padding-left: 0px;
    }

.menu_full {
    position: fixed;
    width: 250px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 800;
    transition: width 0.8s;
    padding-left: 0px;
    box-shadow: 0px 0px 5px #808080;
}

.menu_min {
    position: fixed;
    transition: width 0.8s;
    width: 65px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 800;
    padding-left: 0px;
    box-shadow: 0px 0px 5px #808080;
}

.menu-panel {
    position: absolute;
    right: 0px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgb(0, 179, 185);
}


.el-menu {
    background: rgb(0, 179, 185);
    border-right: none;
}

.menu-panel > .el-menu {
    background: rgba(0, 179, 185, 0);
}

    .menu-panel > .el-menu > .el-submenu > .el-menu {
        background: rgba(0, 179, 185, 0);
    }

.el-menu-item, .el-submenu__title {
    height: 36px;
    line-height: 36px;
    position: relative;
    -webkit-box-sizing: border-box;
    white-space: nowrap;
    list-style: none;
}

.el-menu-item {
    color: #fff;
    border-left-color: rgba(255, 255, 255, 0.00);
    border-left-style: solid;
    border-left-width: 4px;
}

    .el-menu-item:focus, .el-menu-item:hover {
        outline: 0;
        background-color: rgba(255, 255, 255, 0.50);
        transition: background-color 1s;
    }

    .el-menu-item i {
        color: #fff;
        margin-right: 6px;
    }




.el-submenu .el-menu-item {
    height: 30px;
    line-height: 30px;
    border-left-color: rgba(255, 255, 255, 0.00);
    border-left-style: solid;
    border-left-width: 4px;
}

.el-menu-item.is-active {
    color: #fff;
    border-left-color: #fff;
    border-left-style: solid;
    border-left-width: 4px;
    background-color: rgba(255, 255, 255, 0.21);
}

.el-submenu__title, .el-submenu__title i {
    color: #fff;
    border-left-color: rgba(255, 255, 255, 0.00);
    border-left-style: solid;
    border-left-width: 4px;
}

    .el-submenu__title i {
        margin-right: 6px;
        margin-left: -4px;
    }

    .el-submenu__title:focus, .el-submenu__title:hover {
        outline: 0;
        background-color: rgba(255, 255, 255, 0.50);
        transition: all 1s;
    }

.el-menu-item-group__title {
    color: rgb(187, 187, 187);
}

.el-menu--vertical {
}

.el-submenu.is-active .el-submenu__title {
    border-left-color: #fff;
    border-left-style: solid;
    border-left-width: 4px;
    background-color: rgba(255, 255, 255, 0.20);
}

.el-menu--collapse.el-submenu.is-active {
    background-color: rgba(255, 255, 255, 0.50);
}